
<html>
<body>
<style>
html {
font-family: 'Arial';
font-size: 12px;
}
.title span {
text-align: center;
display: inline-block;
}
.title span span {
display: block;
}
.field {
margin: 1em 0;
border: 1px solid #ddd;
position: relative;
}
.field .item {
position: absolute;
width: 22px;
height: 22px;
margin: -11px 0 0 -11px;
transition: all 0.1s linear;
}
.setting input[type="number"] {
width: 70px;
}
input[type="range"] {
vertical-align: top;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<div id="app">
<div class="title">
<span><span>{{itemsCnt[1]}}</span>🧱</span>
<span><span>{{itemsCnt[2]}}</span>✂️</span>
<span><span>{{itemsCnt[3]}}</span>📃</span>
</div>
<div class="field" :style="fieldStyle">
<span class="item" v-for="item in this.items" :style="itemStyle(item)">
<span v-if="item.type == 1">🧱</span>
<span v-else-if="item.type == 2">✂️</span>
<span v-else-if="item.type == 3">📃</span>
</span>
</div>
<div class="setting">
размер: <input step="10" min="100" type="number" v-model="width">x<input step="10" min="100" type="number" v-model="height">
кол-во: <input type="number" step="1" min="1" v-model="cnt" />
Скорость: <input type="range" v-model="speed" min="1" max="10" /> {{this.speed}}
<button :disabled="gameOver" type="button" @click="play = !play"><span v-if="play">⏸</span><span v-else>⏵</span></button>
<button title="перезапустить" @click="refresh">🗘</button>
</div>
</div>
<script>
new Vue({
el: '#app',
data () {
return {
width: 500,
height: 300,
cnt: 20,
setting: ['width', 'height', 'cnt', 'speed'],
items: [],
itemWidth: 22,
itemHeight: 22,
play: true,
speed: 5,
gameOver: false
}
},
created () {
for(var key in this.setting) {
var name = this.setting[key],
val = localStorage['rps_' + name];
if (val) this[name] = val;
}
},
mounted () {
this.go();
this.tot();
},
watch: {
settingSave () {
for(var key in this.setting) {
var name = this.setting[key];
localStorage['rps_' + name] = this[name];
}
},
cnt () {
if (this.cnt > this.items.length) {
for(var i = this.items.length; i < this.cnt; i++) {
this.addItem();
}
} else if (this.cnt < this.items.length) {
var del = this.items.length - this.cnt;
for(var i = 0; i < del; i++) {
this.items.pop();
}
}
}
},
computed: {
itemsCnt () {
var res = {
1: 0,
2: 0,
3: 0
}
for(var key in this.items) {
res[this.items[key].type]++;
}
return res;
},
interval () {
let res = (10 - this.speed + 2) * 10 - 10;
return res;
},
settingSave () {
return [this.width, this.height, this.cnt, this.speed].join('_');
},
fieldStyle () {
return {
width: this.width + 'px',
height: this.height + 'px'
}
},
minX () {
return this.itemWidth / 2;
},
minY () {
return this.itemHeight / 2;
},
maxX () {
return this.width - this.itemWidth / 2;
},
maxY () {
return this.height - this.itemHeight / 2;
},
distanceX () {
return Math.round(this.width / 200) || 1;
},
distanceY () {
return Math.round(this.height / 200) || 1;
}
},
methods: {
tot () {
window.setTimeout(() => {
if (this.play) this.step();
this.tot();
}, this.interval);
},
step () {
// перемещение
for(var key in this.items) {
var item = this.items[key],
x = this.distanceX,
y = this.distanceY;
/*var x = this.distanceX + this.random(1, 5),
y = this.distanceY + this.random(1, 5);*/
if (item.direction == 1) { //	↗
item.x += x;
item.y -= y;
if (item.y <= this.minX) {
item.direction = 2;
} else if (item.x >= this.maxX) {
item.direction = 4;
}
} else if (item.direction == 2) { //	↘
item.x += x;
item.y += y;
if (item.y >= this.maxY) {
item.direction = 1;
} else if (item.x >= this.maxX) {
item.direction = 3;
}
} else if (item.direction == 3) { //	↙
item.x -= x;
item.y += y;
if (item.x <= this.minX) {
item.direction = 2;
} else if (item.y >= this.maxY) {
item.direction = 4;
}
} else if (item.direction == 4) { //	↖
item.x -= x;
item.y -= y;
if (item.y <= this.minY) {
item.direction = 3;
} else if (item.x <= this.minX) {
item.direction = 1;
}
}
}
this.checkCrash();
},
// проверка на столкновения
checkCrash () {
var key;
for(key in this.items) {
var item = this.items[key];
if (!item.сrash) {
for (var k in this.items) {
if (k != key) {
var item2 = this.items[k];
if (!item2.сrash) {
if (Math.abs(item.x - item2.x) <= this.itemWidth / 2 && Math.abs(item.y - item2.y) <= this.itemWidth / 2) {
item.сrash = true;
item.сrash2 = true;
// item.direction = this.getNewDirection(item.direction, item2.direction);
// item2.direction = this.getNewDirection(item2.direction, item2.direction);
item.direction = this.random(1,3);
item2.direction = this.random(1,3);
while(item.direction == item2.direction) {
item.direction = this.random(1,3);
item2.direction = this.random(1,3);
}
/*
1	камень
2	ножницы
3	бумага
*/
if (item.type != item2.type) {
if (item.type == 1) {
if (item2.type == 2) {
item2.type = 1;
} else if (item2.type == 3) {
item.type = 3;
}
} else if (item.type == 2) {
if (item2.type == 3) {
item2.type = 2;
} else if (item2.type == 1) {
item.type = 1;
}
} else if (item.type == 3) {
if (item2.type == 1) {
item2.type = 3;
} else if (item2.type == 2) {
item.type = 2;
}
}
}
}
}
}
}
}
}
for(key in this.items) {
this.items[key].сrash = false;
}
},
getNewDirection: function (direction, direction2) {
var res;
if (direction == 1) {
res = 3;
} else if (direction == 2) {
res = 4;
} else if (direction == 3) {
res = 1;
} else if (direction == 4) {
res = 2;
}
// if (direction2 && res == direction2) res = this.random(1,4);
return res;
},
itemStyle (item) {
var res = {
left: item.x + 'px',
top: item.y + 'px',
transitionDuration: (this.interval / 1000) + 's'
}
if (item.сrash) res.background = 'red';
return res;
},
random (min, max) {
let rand = min - 0.5 + Math.random() * (max - min + 1);
return Math.round(rand);
},
go () {
for(var i = 1; i <= this.cnt; i++) {
this.addItem();
}
},
addItem () {
var item = {
type: this.random(1, 3),
direction: this.random(1, 4),
сrash: false,
x: this.random(this.minX, this.maxX),
y: this.random(this.minY, this.maxY)
}
this.items.push(item);
},
refresh: function () {
this.items = [];
this.go();
}
}
})
</script>
</body>
</html>